<div class="row">
  <div class="col-sm-1">
    <br>
    <span>
			<span><img src="http://openweathermap.org/img/wn/{{item.weather}}@2x.png"></span>
		</span>
  </div>
  <div class="col-sm-8" style="margin: 5px">
    <div class="card" [ngStyle]="{'border-left-color': '' + item.color + '' }">
      <div class="card-body">
        {{item.desc}} <br>
        {{item.cityName}}<br>
        <span class="badge" style="font-size: 14px;"><i
          class="fa fa-clock-o"></i> {{item.initialHour}} - {{item.finalHour}}</span>
      </div>
    </div>

  </div>
  <div class="col-sm-2">
    <br>
    <div>
      <button class="btn btn-warning" style="margin: 1%" (click)="edit()">
        <i class="fa fa-edit"></i>
      </button>
      <button class="btn btn-danger" style="margin: 1%" (click)="delete()">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>
<br>
<br>
